@import "github-markdown.css";
@import "Loader.css";

span[type=button] {
  appearance: none;
  -webkit-appearance: none
}

a[type=button] {
  appearance: none;
  -webkit-appearance: none
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.content {
  padding-top: 65px;
  margin: auto;
  padding-right: 2rem;
}

.card {
  margin: 5px;
}

.card .link {
  cursor: pointer;
}

.words-layout {
  margin-bottom: 2rem !important;
}

.red {
  background-color: red;
}

.link-not-link {
  color: inherit !important;
  text-decoration: none;
}

.link-not-link:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.app-bar {
  position: fixed !important;
  top: 0;
  z-index: 1301;
}

.app-bar > .app-bar-icons {
  color: #fff !important;
}

.title {
  cursor: pointer;
}

.hidden {
  display: none;
}

.words-count {
  font-size: 18px;
  vertical-align: text-top;;
  padding: 12px;
}

@media only screen and (min-width: 75em) {
  .col-lg-offset-0 {
    margin-left: 0 !important;
  }
}

@media only screen and (min-width: 62em) {
  .col-md-offset-0 {
    margin-left: 0 !important;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 5em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 50%;
  opacity: 0;
  transition: opacity 1s;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -2.5em;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.5;

}
