.left-nav:before {
    content: "";
    display: block;
    height: 65px;
}

.left-nav {
    margin-top: 65px;
    min-height: 99%;
    margin-bottom: -82px;
}

.left-nav:after {
    content: "";
    display: block;
    height: 82px;
}
.footer {
    position: static;
    bottom: 0;
    height: 82px;
    width: 100%;
    color: rgba(0, 0, 0, 0.341176) !important;
    text-align: center !important;
    padding-left: 0 !important;
}

.footer p {
    margin-bottom: 0 !important;
    line-height: 1rem !important;
}

.footer a {
    color: rgba(0, 0, 0, 0.341176);
    text-decoration: none;
}

.link-not-link {
    color: rgba(0, 0, 0, 0.341176);
    text-decoration: none;
}

.link-not-link:hover {
    color: rgba(0, 0, 0, 0.341176);
    text-decoration: none;
}